@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="content">
    <a asp-action="Login" asp-controller="Home">Logar</a>
    <a asp-action="Cadastrar" asp-controller="Home">Cadastrar</a>
</div>
