@model Email_Template.Models.UsuarioCadastroModel

@{
    ViewData["Title"] = "Perfil";
}

<div class="content-perfil">
    <h1>Perfil de Usuario</h1>

    <div class="form-item btn">
        <a asp-action="MudarSenha" asp-controller="Home">Mudar Senha</a>
    </div>
</div>
